<h2>Libro seleccionado</h2>
<p>Aquí podrás elegir que te apetece leer.</p>
<h3>{{title}}</h3>
Autor: {{author}} | Género: {{genre}} | Calificación: {{rating}}
<p>{{description}}</p>
<hr>
<h2>¿Donde encontrarlo?</h2>
Localizacion: {{locationId}} | Estado: {{state}}
<form method="POST" action="{{id}}/deletebook/">
  <button>Reservar</button>
</form>
