<nav class="nav-logged-user">
  <nav class="nav-left-section">
    <a href="/users/user-dashboard"><img class="img-icon-ui" src="../images/Trajano-icon" alt="Trajano icon"></a>
    <form id="dynamic-form" class="align-flex" action="/books/" method="POST" autocomplete="off">
      <input id="dynamic-input" type="text" name="title" placeholder="Buscar libro">

      <button type="submit" class="add-book btn-nav" >Buscar</button>
      <span class="book-counter">Saldo: {{userInfo.bookCounter}}</span>
    </form>
  </nav>
  <a class="add-book" href="/users/bookinfo">Añadir libro</a>
</nav>


<section class="section-logged section-one">
  <h2>Libro seleccionado</h2>
  <p>Aquí podrás elegir que te apetece leer.</p>
</section>


{{#if booksFound.0.author}}
<section class="section-logged section-two">
  <h3>{{booksFound.0.title}}</h3><br>
  <p>Autor: {{booksFound.0.author}} | Género: {{booksFound.0.genre}} | Calificación: {{booksFound.0.rating}}</p> <br>
  <p id="description-main">{{booksFound.0.description}}</p>
</section>

<section class="section-logged section-three">

  <h3>¿Donde encontrarlo?</h3>
  {{#each booksFound}}
  <form method="POST" action="/books/{{id}}/book-selected/" autocomplete="off">
    <label class="selection-label" for=""> Localizacion: {{locationId.name}}, {{locationId.city}} | Estado: {{state}}</label>
    <button class="add-book dark-blue-thin" type="submit">Reservar</button>
  </form>

{{/each}}
</section>
{{else}}
<h3>Tu libro no está todavía en Trajano, haz otra búsqueda!!</h3>
{{/if}}
<section  class="section-logged section-three">
  <div id="map"></div>
</section>



<div class="center-button">
  <a class="add-book blue" href="/users/user-dashboard">Volver al Panel</a>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-Iqb55QsurOHrKU_FFyqzRqZ3EMSM0Cg"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

<script>
  const inputDOMEl = document.querySelector('#dynamic-input')
  const formDOMEl = document.querySelector('#dynamic-form')
  changePath = function () {
    return formDOMEl.setAttribute('action', `/books/${inputDOMEl.value.split(' ').join('%20')}`)
  }
  inputDOMEl.addEventListener('blur', changePath)
</script>