<div>
  <h2>¿Te apetece leer otro libro?</h2>
  <h3>Nuestras sugerencias para ti: </h3>
  {{#each book}}
  <h4>{{title}}</h4>
  Autor: {{author}} | Género: <a href="/randombook/{{genre}}">{{genre}}</a>| Calificación: {{rating}} |
  <a href="/books/{{title}}">Seleccionar</a>
  {{/each}}
</div>