<h2>Tus Contribuciones a Trajano</h2>
<ul id="content">
  {{#each bookFoundbyUser}}
  <li><strong>Título: </strong>{{title}} --> <strong>Autor: </strong>{{author}} --> <strong>Estado: </strong>{{state}}</li>
  <strong></strong>
  {{else}}
  <p>No has contribuido ningún libro a Trajano todavía.</p>
  {{/each}}
</ul>

<p>Tu saldo en Trajano es igual a: {{bookCounter}}</p>
<br><br>
<h2>Añadir Nuevo Libro a Trajano</h2>
<br>
<form action="/users/bookinfo" method="POST">
  <label for="title-input">Busca tu libro</label>
  <input name="title" type="text" placeholder="Introduce el título de tu libro">
  <button type="submit" class="btn btn-dark">Enviar información</button>
  <br>
  {{!-- <ul id="autocompleter"> --}}
  </ul>
  <select name="book" id="book-list">
    <option>Seleccionar</option>
  </select>
</form>
<br>
<form action="/users/bookinfo/save" method="POST">
  <div id="form-group"></div>
  <label for="location-list">Localización:</label><br>
  <select name="location" class="form-control" id="location-list">
    <option>Seleccionar localización</option>
    {{#each locationFound}}
    <option value="{{_id}}">{{name}} - {{city}}</option>
    {{/each}}
  </select>
  <br><br>
  <button type="submit" class="btn btn-dark">Contribuir libro a Trajano</button>
</form>
<br><br>



<script>
  let arr;
  let bookTitle = "Título de tu Libro";
  let bookAuthor = "Autor";
  let bookDescription = "Descripción"
  let bookRating = "Rating"
  let bookCategory = "Categoría"
  let bookImg
  document.getElementById('form-group').innerHTML += `<label for="name-input">Título: </label><br><input name="name" type="text" class="form-control" id="name-input" value="${bookTitle}"><br><br>`
  document.getElementById('form-group').innerHTML += `<label for="author-input">Autor: </label><br><input name="author" type="text" class="form-control" id="author-input" value="${bookAuthor}"><br><br>`
  document.getElementById('form-group').innerHTML += `<label for="description-input">Descripción: </label><br><input name="description" type="text" class="form-control" id="description-input" value="${bookDescription}"><br><br>`
  document.getElementById('form-group').innerHTML += `<label for="rating-input">Calificación: </label><br><input name="rating" type="text" class="form-control" id="rating-input" value="${bookRating}"><br><br>`
  document.getElementById('form-group').innerHTML += `<label for="category-input">Género: </label><br><input name="category" type="text" class="form-control" id="category-input" value="${bookCategory}"><br><br>`
  document.getElementById('form-group').innerHTML += `<label for="state-input">Estado: </label><br><input name="state" type="number" class="form-control" id="state-input" placeholder="Introducir Estado"><br><br>`
  document.getElementById('form-group').innerHTML += `<img src="../images/book-placeholder.png" alt="${bookTitle} front image"><br><br>`

  function handleResponse(response) {
    for (let i = 0; i < response.items.length; i++) {
      let item = response.items[i];
      document.getElementById("book-list").innerHTML += "<option class='option-item'>" + item.volumeInfo.title + "</option>";
    }


    listenTitle = function () {
      document.getElementById("form-group").innerHTML = "";
      let result = document.getElementById("book-list").selectedIndex
      let item = response.items[result - 1]

      bookTitle = item.volumeInfo.title;
      bookAuthor = item.volumeInfo.authors;
      bookDescription = item.volumeInfo.description;
      bookRating = item.volumeInfo.averageRating;
      bookCategory = item.volumeInfo.categories;
      bookImg = item.volumeInfo.imageLinks.thumbnail;

      document.getElementById('form-group').innerHTML += `<label for="name-input">Título: </label><br><input name="name" type="text" class="form-control" id="name-input" value="${bookTitle}"><br><br>`
      document.getElementById('form-group').innerHTML += `<label for="author-input">Autor: </label><br><input name="author" type="text" class="form-control" id="author-input" value="${bookAuthor}"><br><br>`
      document.getElementById('form-group').innerHTML += `<label for="description-input">Descripción: </label><br><input name="description" type="text" class="form-control" id="description-input" value="${bookDescription}"><br><br>`
      document.getElementById('form-group').innerHTML += `<label for="rating-input">Calificación: </label><br><input name="rating" type="text" class="form-control" id="rating-input" value="${bookRating}"><br><br>`
      document.getElementById('form-group').innerHTML += `<label for="category-input">Género: </label><br><input name="category" type="text" class="form-control" id="category-input" value="${bookCategory}"><br><br>`
      document.getElementById('form-group').innerHTML += `<label for="state-input">Estado: </label><br><input name="state" class="form-control" id="state-input"><br><br>`
      document.getElementById('form-group').innerHTML += `<img src="${bookImg}" alt="${bookTitle} front image"><br><br>`

      arr = [bookTitle, bookAuthor, bookDescription, bookRating, bookCategory, bookImg]

      return arr
    }
    document.getElementById('book-list').addEventListener("change", listenTitle)

  }

</script>
<script
  src="https://www.googleapis.com/books/v1/volumes?q={{searchInput}}&orderBy=relevance&callback=handleResponse"></script>
</div>