<h2>Panel de usuario: </h2>
<p>Aquí podrás añadir tus libros a la colección de Trajano, gestionar tu perfil o elegir que te apetece</p>
<p> leer y donde podrás encontrarlo.</p>
<div>
  <h3>Tu perfil: </h3>
  <ul>
    <li>Nombre: {{username}}</li>
    <li>Apellidos: {{lastName}}</li>
    <li>Email: {{email}}</li>
    <li>Teléfono: {{phone}}</li>
    <li>Fecha de nacimiento: {{birthDate}}</li>
    <li>Gender: {{gender}}</li>
  </ul>
</div>
<div>
  <a href="/users/user-profile">Editar Perfil</a>
  <a href="/users/bookinfo">Colecctión de libros</a>
  <a href="/auth/logout">Cerrar sesión</a>
</div>
<a href="/">Atras</a>
</div>