<h2>PERFIL DE USUARIO</h2>
<div>
  <div>
    <h3>Información pública:</h3>
    <form method="POST" action="/users/user-profile">
      <ul>
        <li> Nombre: <input type="text" name="username" value="{{username}}">
        </li>
        <li> Apellidos: <input type="text" name="lastName" value="{{lastName}}">
        </li>
        <li> Email: <input type="text" name="email" value="{{email}}">
        </li>
        <li> Teléfono: <input type="text" name="phone" value="{{phone}}">
        </li>
      </ul>
      <input type="hidden" name="_id" value="{{id}}">
      <input type="submit" value="Guardar">
    </form>
  </div>
  <div>
    <h3>Imagen de perfil:</h3>
    <form action="/users/uploadPhoto" method="POST" enctype="multipart/form-data">
      <img src={{path}} alt="user-photo">
      <input type="file" name="photo">
      <input type="submit" value="Subir imagen">
    </form>
  </div>
</div>
<p><a href="/users/user-dashboard">Atras</a></p>